[Desktop Entry]
Name=Kazam
Name[es]=Kazam
GenericName=Screencast and Screenshot tool
GenericName[es]=Herramienta para crear instantáneas y videotutoriales
Comment=Record a video or take a screenshot of your screen
Comment[es]=Grabe un video o tome una captura de pantalla
Keywords=screenshot;screencast;videorecord;desktop recording;
Keywords[es]=captura;screencast;videograbar;grabación de escritorio;
Categories=GNOME;AudioVideo;
Exec=kazam
Icon=kazam
Terminal=false
Type=Application
Actions=SSF;SSA;SSW;Prefs;
X-XFCE-Source=file:///usr/share/applications/kazam.desktop

[Desktop Action SSF]
Name=Take a screenshot of entire workspace
Name[es]=Tomar una captura de toda el área de trabajo
Exec=kazam -f
OnlyShowIn=Unity

[Desktop Action SSA]
Name=Select an area to screenshot
Name[es]=Seleccionar un área a capturar
Exec=kazam -a
OnlyShowIn=Unity

[Desktop Action SSW]
Name=Select a window to screenshot
Name[es]=Seleccionar una ventana a capturar
Exec=kazam -s
OnlyShowIn=Unity

[Desktop Action Prefs]
Name=Preferences
Name[es]=Preferencias
Exec=kazam -p
OnlyShowIn=Unity
